// main style dark beige:         #ab816c, rgb(171, 129, 108)
// main style medium beige:       #fef3e4, rgb(254, 243, 228)
// main style light beige:        #fffff9, rgb(255, 255, 249)
// main style text-black;         #2e2520, rgb(46,  37,  32)

$outline: 1px solid tomato;

$color--accent-orange: #ff6b01;
$color--selected-page: #ff001b;

$color--accent-orange-text: #ff6b08;
$color--error-text: #ff001b;
$color--default-text: #000000;
$color--grey-text: #8c8c8c;
$color--accent-text: #ffffff;

$color--background: #ffffff;
$color--grey-background: #f7f7f7;
$color--header-background: #0d1519;


$breakpoints: (
  'mobile-sm': 320px,
  'mobile': 480px,
  'tablet': 768px,
  'desktop': 1280px,
);