// Смартфон
@mixin mobile {
  @media screen and (min-width: 320px) {
    @content;
  }
}

// Планшет
@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

// Десктоп
@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}
