<!-- FOOTER Modal -->
<div class="backdrop__footer is-hidden" id="backdrop__footer">
  <div class="js-close-modal modal__body modal__footer">
    <div class="modal__content">
      <button
        class="modal__button modal__close"
        type="button"
        data-modal-close-contacts
      >
        <i class="bi bi-x-diamond modal__icon"></i>
      </button>
      <h2 class="modal__title" data-item="SVARDEN team">SVARDEN team</h2>

      <div class="main">
        <div class="profile-card">
          <div class="img">
            <img
              width="160"
              src="./images/team-photo/1_Artem_Bahmet.jpeg"
              alt="Artem Bahmet"
            />
          </div>
          <div class="caption">
            <h3>Artem Bahmet</h3>
            <p>Team Lead</p>
            <div class="social-links">
              <a
                href="https://github.com/bagetmasta"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bi bi-github"></i
              ></a>
              <a
                href="https://www.linkedin.com"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bi bi-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <div class="img">
            <img
              src="./images/team-photo/2_Nataliia_Fedorova.jpeg"
              alt="Natalia Fedorova"
            />
          </div>
          <div class="caption">
            <h3>Natalia Fedorova</h3>
            <p>Scrum Master</p>
            <div class="social-links">
              <a
                href="https://github.com/NatashaFedorova"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bi bi-github"></i
              ></a>
              <a
                href="https://www.linkedin.com/in/natafedorova/"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bi bi-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <div class="img">
            <img
              src="./images/team-photo/3_Shpak_Rodion.jpeg"
              alt="Rodion Shpak"
            />
          </div>
          <div class="caption">
            <h3>Rodion Shpak</h3>
            <p>Frontend Developer</p>
            <div class="social-links">
              <a
                href="https://github.com/RodionShpak"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bi bi-github"></i
              ></a>
              <a
                href="https://www.linkedin.com/in/rodion-shpak"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bi bi-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <div class="img">
            <img
              src="./images/team-photo/4_Nataliia_Pogreniak.jpeg"
              alt="Nataliia Pogrebniak"
            />
          </div>
          <div class="caption">
            <h3>Nataliia Pogrebniak</h3>
            <p>Frontend Developer</p>
            <div class="social-links">
              <a
                href="https://github.com/PNataliya"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bi bi-github"></i
              ></a>
              <a
                href="https://www.linkedin.com/in/nataliya-pogrebnyak-80655b73/"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bi bi-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <div class="img">
            <img
              src="./images/team-photo/5_Veronika_Savluk.jpeg"
              alt="Veronika Savluk"
            />
          </div>
          <div class="caption">
            <h3>Veronika Savluk</h3>
            <p>Frontend Developer</p>
            <div class="social-links">
              <a
                href="https://github.com/VeronikaSavluk"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bi bi-github"></i
              ></a>
              <a
                href="https://www.linkedin.com/in/veronika-savluk-b7904624b"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bi bi-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <div class="img">
            <img
              src="./images/team-photo/6_Elena_Latynina.jpeg"
              alt="Elena Latynina"
            />
          </div>
          <div class="caption">
            <h3>Elena Latynina</h3>
            <p>Frontend Developer</p>
            <div class="social-links">
              <a
                href="https://github.com/ElenaLatynina"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bi bi-github"></i
              ></a>
              <a
                href="https://www.linkedin.com"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bi bi-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <div class="img">
            <img
              src="./images/team-photo/7_Nikita_Rohovoi.jpeg"
              alt="Nikita Rohovoi"
            />
          </div>
          <div class="caption">
            <h3>Nikita Rohovoi</h3>
            <p>Frontend Developer</p>
            <div class="social-links">
              <a
                href="https://github.com/NRohovoi"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bi bi-github"></i
              ></a>
              <a
                href="https://www.linkedin.com/in/nikita-rohovoi-6a4aa9241/"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bi bi-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <div class="img">
            <img
              src="./images/team-photo/8_Dmytro Korolik.jpeg"
              alt="Dimytry Korolik"
            />
          </div>
          <div class="caption">
            <h3>Dimytry Korolik</h3>
            <p>Frontend Developer</p>
            <div class="social-links">
              <a
                href="https://github.com/KorolikD"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bi bi-github"></i
              ></a>
              <a
                href="https://www.linkedin.com/in/dmytro-korolik-146136228/"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bi bi-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <div class="img">
            <img
              src="./images/team-photo/9_Stas_Korobchenko.jpeg"
              alt="Stas Korobchenko"
            />
          </div>
          <div class="caption">
            <h3>Stas Korobchenko</h3>
            <p>Frontend Developer</p>
            <div class="social-links">
              <a
                href="https://github.com/Stasxxx"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bi bi-github"></i
              ></a>
              <a
                href="https://www.linkedin.com/in/stanislav-korobchenko-b090b9126"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bi bi-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <div class="img">
            <img
              src="./images/team-photo/10_1_Savchenko Andrey.jpeg"
              alt="Andrey Savchenko"
            />
          </div>
          <div class="caption">
            <h3>Andrey Savchenko</h3>
            <p>Frontend Developer</p>
            <div class="social-links">
              <a
                href="https://github.com/Savchenko-Andrey"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bi bi-github"></i
              ></a>
              <a
                href="https://www.linkedin.com/in/A%D0%BD%D0%B4%D1%80%D1%96%D0%B9-%D0%A1%D0%B0%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D0%BE-430a3223b/"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bi bi-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <div class="img">
            <img
              src="./images/team-photo/11_Viktor Hrimli.jpeg"
              alt="Viktor Hrimli"
            />
          </div>
          <div class="caption">
            <h3>Viktor Hrimli</h3>
            <p>Frontend Developer</p>
            <div class="social-links">
              <a
                href="https://github.com/ViktorHrimli"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bi bi-github"></i
              ></a>
              <a
                href="https://www.linkedin.com/in/%D0%B2%D0%B8%D0%BA%D1%82%D0%BE%D1%80-%D1%85%D1%80%D0%B8%D0%BC%D0%BB%D0%B8-352a2a23b"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bi bi-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <div class="img">
            <img
              src="./images/team-photo/12_Artem Ptashenko.jpeg"
              alt="Artem Ptashenko"
            />
          </div>
          <div class="caption">
            <h3>Artem Ptashenko</h3>
            <p>Frontend Developer</p>
            <div class="social-links">
              <a href=" " target="_blank" rel="noopener noreferrer"
                ><i class="bi bi-github"></i
              ></a>
              <a
                href="https://linkedin.com"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bi bi-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
