<header class="header-library">
  <div class="container">
    <nav class="header-library__nav">
      <div class="logo">
        <a href="./index.html">
          <img
            src="images/library/film.png"
            alt="Company logo"
            class="logo__img"
            width="24px"
          />
        </a>
        <a href="./index.html">
          <span class="logo__name">Filmoteka</span>
        </a>
      </div>
      <ul class="header-nav__menu">
        <li class="header-nav__item">
          <a href="./index.html" class="header-nav__link">Home</a>
        </li>
        <li class="header-nav__item">
          <a
            href="./library.html"
            class="header-nav__link header-nav__link-current"
            >My library</a
          >
        </li>
      </ul>
    </nav>

    <ul class="library__buttons__list">
      <li class="library__buttons__item">
        <button type="button" class="library__button library__button-current">
          <span class="button__text">Watched</span>
        </button>
      </li>
      <li class="library__buttons__item">
        <button type="button" class="library__button" data-queue>
          <span class="button__text">Queue</span>
        </button>
      </li>
    </ul>
  </div>
</header>
