<header>
  <div class="container header-container__library">
    <nav class="header-nav">
      <div class="logo">
        <a href="">
          <img
            src="images/film.png"
            alt="Company logo"
            class="logo__img"
            width="24px"
          />
        </a>
        <span class="logo__name">Filmoteka</span>
      </div>
      <ul class="list header-nav__menu">
        <li class="header-nav__item">
          <a href="./index.html" class="header-nav__link">Home</a>
        </li>
        <li class="header-nav__item">
          <a
            href="./library.html"
            class="header-nav__link header-nav__link-current"
            >My library</a
          >
        </li>
      </ul>
    </nav>
    <ul class="library__buttons">
      <li class="library__buttons__item">
        <button type="button" class="button button-current">
          <span class="button__text">Watched</span>
        </button>
      </li>
      <li class="library__buttons__item">
        <button type="button" class="button">
          <span class="button__text">Queue</span>
        </button>
      </li>
    </ul>
  </div>
</header>
