
<!-- <div class="filmoteka main-container container">
    <ul class="filmoteka__cards">
        <li class="filmoteka__card"><img src="./images/dummy.jpg" alt=""></li>
    </ul>
    <div id="tui-pagination-container" class="tui-pagination"></div>
</div> -->

<main class="main-container container">
    <div class="filmoteka">
        <ul class="card-list">
            <li class="card-list__item">
                <a href="" class="card-list__link">
                    <picture class="card-list_picture">
                        <!-- <source srcset="
                        .???????????????????????????.jpg 1x,
                        .???????????????????????????.jpg 2x
                        " media="(min-width: 1200px)" /> -->
                        <img src="./images/card_poster/card-poster.jpg" alt="Poster to movie" class="card-list_picture">
                    </picture>
                    <h2 class="card-list__title"><span class="card-list__movie-name">GREYHOUND</span> Drama, Action |
                        2020<span class="card-list__ratimg">10.0</span></h2>
                </a>
            </li>
            <li class="card-list__item">
                <a href="" class="card-list__link">
                    <picture class="card-list_picture">
                        <!-- <source srcset="
                              .???????????????????????????.jpg 1x,
                              .???????????????????????????.jpg 2x
                              " media="(min-width: 1200px)" /> -->
                        <img src="./images/card_poster/card-poster_2.jpg" alt="Poster to movie" class="card-list_picture">
                    </picture>
                    <h2 class="card-list__title"><span class="card-list__movie-name">MONSTER HUNTER</span>Drama, Action
                        | 2020<span class="card-list__ratimg">8.0</span></h2>
                </a>
            </li>
            <li class="card-list__item">
                <a href="" class="card-list__link">
                    <picture class="card-list_picture">
                        <!-- <source srcset="
                              .???????????????????????????.jpg 1x,
                              .???????????????????????????.jpg 2x
                              " media="(min-width: 1200px)" /> -->
                        <img src="./images/card_poster/card-poster_3.jpg" alt="Poster to movie" class="card-list_picture">
                    </picture>
                    <h2 class="card-list__title"><span class="card-list__movie-name">ONCE UPON A TIME... IN
                            HOLLYWOOD</span> Drama, Comedy | 2019<span class="card-list__ratimg">8.0</span></h2>
                </a>
            </li>
            <li class="card-list__item">
                <a href="" class="card-list__link">
                    <picture class="card-list_picture">
                        <!-- <source srcset="
                              .???????????????????????????.jpg 1x,
                              .???????????????????????????.jpg 2x
                              " media="(min-width: 1200px)" /> -->
                        <img src="./images/card_poster/card-poster_4.jpg" alt="Poster to movie" class="card-list_picture">
                    </picture>
                    <h2 class="card-list__title"><span class="card-list__movie-name">LITTLE WOMEN</span> Drama |
                        2019<span class="card-list__ratimg">9.5</span></h2>
                </a>
            </li>
        </ul>
        <div id="tui-pagination-container" class="tui-pagination"></div>
    </div>
</main>

