<!-- <div class="filmoteka main-container container">
    <ul class="filmoteka__cards">
        <li class="filmoteka__card"><img src="./images/dummy.jpg" alt=""></li>
    </ul>
    <div id="tui-pagination-container" class="tui-pagination"></div>
</div> -->

<main class="main-container container">
  <div class="filmoteka">
    <ul class="card-list"></ul>
    <div class="reloading">
      <div class="preloader-gooey is-hidden">
        <div class="gooey">
          <span class="dot"></span>
          <div class="dots">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
      <button class="btn-load-more is-hidden">Show more</button>
    </div>
    <div id="tui-pagination-container" class="tui-pagination"></div>
  </div>
</main>
