<div class="backdrop is-hidden">
  <div class="modal ">
    <div class="animate-modal"></div>
    <!-- <svg class="modal--icon">
      <use xlink:href="./images/sprite.svg#close"></use>
    </svg>
    <div class="modal--title">
      <div class="modal--img">

      </div>
      <div class="modal--title__info">
        <h2 class="title--text">A FISTFUL OF LEAD</h2>
        <div class="conteiner--modal__list">
          <ul class="modal--title__list--left">
            <li class="list--element">
              <p>Vote / Votes</p>
            </li>
            <li class="list--element">
              <p>Popularity</p>
            </li>
            <li class="list--element">
              <p>Original Title</p>
            </li>
            <li class="list--element">
              <p>Genre</p>
            </li>
          </ul>
          <ul class="modal--title__list--right">
            <li class="list--element">
              <p class="element--value"><span class="rait">7.3</span> / 1260</p>
            </li>
            <li class="list--element">
              <p class="element--value">100.2</p>
            </li>
            <li class="list--element">
              <p class="element--value">A FISTFUL OF LEAD</p>
            </li>
            <li class="list--element">
              <p class="element--value">Western</p>
            </li>
          </ul>
        </div>
        <div class="conteiner--about">
          <p>ABOUT</p>
          <p class="about--text">
            Four of the West’s most infamous outlaws assemble to steal a huge
            stash of gold from the most corrupt settlement of the gold rush
            towns. But not all goes to plan one is killed and the other three
            escapes with bags of gold hide out in the abandoned gold mine where
            they happen across another gang of three – who themselves were
            planning to hit the very same bank! As tensions rise, things go from
            bad to worse as they realise the bags of gold are filled with
            lead... they’ve been double crossed – but by who and how?
          </p>
        </div>
        <div class="conteiner--btn">
          <button class="btn--modal active">add to Watched</button>
          <button class="btn--modal">add to queue</button>
        </div>
      </div>
    </div> -->
  </div>
</div>
