<main class="main">
  <section class="container">
    <div class="my-library main-container">
      <ul class="card-list"></ul>
      <ul class="img-stub__list">
        <li class="img-stub__item">
          <picture class="img-stub__picture">
            <img src="./images/dummy.jpg" alt="" />
          </picture>
          <h2 class="img-stub__title">
            You have nothing here!
            <p><a href="./index.html">Don't forget to add some movie!</a></p>
          </h2>
        </li>
      </ul>
      <ul class="my-library__card-list"></ul>
      <div class="reloading is-hidden">
        <div class="preloader-gooey is-hidden">
          <div class="gooey">
            <span class="dot"></span>
            <div class="dots">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
        <button class="btn-load-more is-hidden">Show more</button>
      </div>
    </div>
  </section>
</main>
