.footer {
  background-color: #f7f7f7;
}

.position {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-right: 34px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 133px;
  }
}

.footer-container {
  margin: 0 auto;
  font-weight: 400;
  color: #545454;

  justify-content: center;
  text-align: center;
  // align-items: center;

  @media screen and (max-width: 767px) {
    padding-top: 29px;
    padding-bottom: 30px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.14;
  }

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    font-size: 16px;
    line-height: 1.19;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 30px;
    padding-bottom: 28px;
  }
}

.footer-container--right {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  @media screen and (max-width: 767px) {
    margin-top: 10px;
  }

  @media screen and (min-width: 768px) {
    margin-left: 3px;
  }

  @media screen and (min-width: 1280px) {
    position: relative;
  }
}

.footer-container--text {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

//!============ btn GoIT Students
.footer-container--btn {
  padding-left: 5px;
  color: #545454;
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-decoration-line: underline;

  &:hover,
  &:focus {
    color: #ff6b08;
  }
}

.click {
  @media screen and (max-width: 1279px) {
    display: none;
  }
  text-align: left;
}

.footer-container--btn span {
  text-decoration-line: underline;
  width: 104px;
  @media screen and (min-width: 1280px) {
    position: absolute;
    bottom: 0px;
    display: block;
  }
}

.footer-container--btn span:nth-child(1) {
  @media screen and (min-width: 1280px) {
    transform: rotateX(90deg);
    transform-origin: 50% 50% -20px;
  }
}

.footer-container--btn span:nth-child(2) {
  @media screen and (min-width: 1280px) {
    transform: rotateX(0deg);
    transform-origin: 50% 50% -20px;
  }
}

.footer-container--btn:hover span:nth-child(1) {
  @media screen and (min-width: 1280px) {
    transform: rotateX(0deg);
  }
}

.footer-container--btn:hover span:nth-child(2) {
  @media screen and (min-width: 1280px) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    color: transparent;
    transform: rotateX(-90deg);
  }
}

//!============ heart
.heart {
  animation: heartbeat 1s infinite;
  background-color: #ff6b08;
  display: inline-block;
  height: 10px;
  margin: 0 10px;
  top: 0;
  transform: rotate(-45deg);
  width: 10px;
  position: relative;

  &:before,
  &:after {
    content: '';
    background-color: #ff6b08;
    border-radius: 50%;
    height: 10px;
    position: absolute;
    width: 10px;
  }

  &:before {
    top: -5px;
    left: 0;
  }

  &:after {
    left: 5px;
    top: 0;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  20% {
    transform: scale(1.1) rotate(-45deg);
  }
  40% {
    transform: scale(1.2) rotate(-45deg);
  }
}
