.header--common {
    flex: 0 0 auto;
    min-height: 230px;
}

.header {
    @extend .header--common;
    height: 230px;

    @include x1 {
        @include header($url: '/src/images/library/library_sm.jpg');
    }

    @include x2 {
        @include header($url: '/src/images/library/library_sm@2.jpg');
    }


    @include tablet {
        height: 216px;

        @include header($url: '/src/images/library/library_md.jpg');

        @include x2 {
            @include header($url: '/src/images/library/library_md@2.jpg'
            );
        }

    }

    @include desktop {
        @include header($url: '/src/images/library/library_lg.jpg'
        );

        @include x2 {
            @include header($url: '/src/images/library/library_lg@2.jpg'
            );
        }

    }
}

.header-container__library {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: baseline;
}

.logo__name {
    margin-left: 10px;
    font-size: 30px;
    display: none;
    color: $color--accent-text;

    @include tablet {
        display: inline-block;
    }
}

.header-nav__menu {
    display: flex;
}

.header-nav__item:not(:last-child) {
    margin-right: 39px;
}

.header-nav__link {
    line-height: 1.17;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: $color--accent-text;
}

.header-nav__link-current {
    border-bottom: 1px solid rgba(255, 107, 1, 1);
}

.library__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.button {
    width: 148px;
    height: 42px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 5px;
    box-shadow: (0px 8px 43px rgba(255, 107, 1, 0.6));
}

.button-current {
    background-color: $color--accent-orange;
}

.button__text {
    line-height: 1.33;
    text-align: center;
    text-transform: uppercase;

    color: $color--accent-text;
}

.button:focus,
.button:hover {
    border: 1px solid rgb(91, 13, 216);
}