.header-library--common {
  flex: 0 0 auto;
  // min-height: 230px;
}

.header-library {
  padding-top: 40px;
  padding-bottom: 60px;
  @extend .header-library--common;

  @include x1 {
    @include header-library($url: '/src/images/library/library_sm.jpg');
  }

  @include x2 {
    @include header-library($url: '/src/images/library/library_sm@2x.jpg');
  }

  @include tablet {
    @include header-library($url: '/src/images/library/library_md.jpg');

    @include x2 {
      @include header-library($url: '/src/images/library/library_md@2x.jpg');
    }
  }

  @include desktop {
    @include header-library($url: '/src/images/library/library_lg.jpg');

    @include x2 {
      @include header-library($url: '/src/images/library/library_lg@2x.jpg');
    }
  }
}

.header-library__container {
  margin: 0 32px;
}

.header-library__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  @include mobile {
    margin-bottom: 60px;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.logo__name {
  margin-left: 10px;
  font-size: 30px;
  display: none;
  color: $color--accent-text;

  @include tablet {
    display: inline-block;
  }
}

.header-nav__menu {
  display: flex;
}

.header-nav__item:not(:last-child) {
  margin-right: 39px;
}

.header-nav__link {
  line-height: 1.17;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $color--accent-text;
}

.header-nav__link-current {
  border-bottom: 3px solid rgba(255, 0, 27, 1);
}

.library__buttons__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  @include tablet {
    gap: 32px;
  }
}
.library__button {
  margin: 0 auto;
  padding: 11px 13px;
  height: 44px;
  width: 152px;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: inherit;
  color: $color--accent-text;
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: transparent;
  border-radius: 5px;
  gap: 16px;

  @include mobile {
    margin-top: auto;
    max-width: 129px;
  }

  @include tablet {
    margin-top: auto;
  }
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
    font-weight: 700;
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.library__button:hover,
.library__button:focus {
  animation: bounce 1s;
}

.library__button-current {
  background-color: $color--accent-orange;
  border: none;
}

.button__text {
  line-height: 1.33;
  text-transform: uppercase;

  color: $color--accent-text;
}
