.main-container {
  @include mobile {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.filmoteka__cards,
.my-library__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include tablet {
    margin: -16px;
  }
}

.filmoteka__card,
.my-library__card {
  @include mobile {
    width: 100%;
    margin-bottom: 20px;
  }

  @include tablet {
    width: calc((100% - 6 * 16px) / 2);
    margin: 16px;
  }

  @include desktop {
    width: calc((100% - 8 * 16px) / 3);
  }
}

// .filmoteka__button {
//   display: flex;
//   align-items: center;
//   margin: 0 auto;
//   padding: 11px 13px;
//   height: 40px;
//   font-size: 12px;
//   line-height: 1.33;
//   color: inherit;
//   color: $color--accent-text;
//   border-color: $color--selected-page;
//   background-color: $color--selected-page;
//   border-radius: 5px;

//   @include mobile {
//     margin-top: 20px;
//   }

//   @include tablet {
//     margin-top: 60px;
//   }
// }
#tui-pagination-container strong {
  background: $color--selected-page;
  border-color: $color--selected-page;
}

#tui-pagination-container .tui-page-btn {
  width: 40px;
  height: 40px;
  padding: 13px 11px;
  border-color: transparent;
  border-radius: 5px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}