.img-stub__list {
  display: flex;
  justify-content: center;
}

.img-stub__item {
  display: block;
  width: 100%;

  @include tablet {
    width: 336px;
  }

  @include desktop {
    flex: calc((100% / 2) - 1rem\2);
    width: 378px;
  }
}
.img-stub__title {
  text-align: center;
  font-size: 24px;
  margin: 0 auto;
}
.img-stub__list.is-hidden {
  display: none;
}
