.set-timeout {
  scale: 0;
  position: absolute;
}

.shadow-background {
  background: #000;
  width: 100%;
  height: 100%;
  overflow: hidden;

  position: absolute;
  top: 0;
  left: 0;

  font: 5vw/100vh 'Finger Paint';
  text-align: center;
  color: transparent;
  backface-visibility: hidden;

  z-index: 100;
}

.shadow-main {
  display: inline-block;
  text-shadow: 0 0 0 whitesmoke;
  animation: smoky 1.5s -1.5s both;
}

.shadow-main {
  animation-name: smoky-mirror;
}

@keyframes smoky {
  20% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    transform: translate3d(15rem, -8rem, 0) rotate(0deg) skewX(0deg) scale(1);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 1;
    visibility: hidden;
  }
}

@keyframes smoky-mirror {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg)
      scale(1);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@for $item from 1 through 21 {
  span:nth-of-type(#{$item}) {
    animation-delay: #{(3 + calc($item/10))}s;
  }
}
